/* 버튼 스타일 */

/* 호버 시 스타일 */

#subscribe-input {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

#subscribe-input label {
    font-size: 5px; /* "구독 ID:" 텍스트 크기 줄임 */
    font-weight: bold;
}

#subscribe-input input {
    padding: 8px;
    margin-right: 10px;
    border-radius: 5px;
}

#subscribe-input button {
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#subscribe-input button:hover {
    background-color: #45a049;
}


.error-message {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: red;
    color: white;
    padding: 15px;
    border-radius: 5px;
    font-size: 18px;
    z-index: 9999;
    display: none;
}

@keyframes fb_transform {
    from {
        opacity: 0;
        transform: scale(.95)
    }

    to {
        opacity: 1;
        transform: scale(1)
    }
}

@keyframes rotateSpinner {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

@keyframes fb_mpn_landing_page_slide_out {
    0% {
        margin: 0 12px;
        width: 100% - 24px
    }

    60% {
        border-radius: 18px
    }

    100% {
        border-radius: 50%;
        margin: 0 24px;
        width: 60px
    }
}

@keyframes fb_mpn_landing_page_slide_out_from_left {
    0% {
        left: 12px;
        width: 100% - 24px
    }

    60% {
        border-radius: 18px
    }

    100% {
        border-radius: 50%;
        left: 12px;
        width: 60px
    }
}

@keyframes fb_mpn_landing_page_slide_up {
    0% {
        bottom: 0;
        opacity: 0
    }

    100% {
        bottom: 24px;
        opacity: 1
    }
}

@keyframes fb_mpn_bounce_in {
    0% {
        opacity: .5;
        top: 100%
    }

    100% {
        opacity: 1;
        top: 0
    }
}

@keyframes fb_mpn_fade_out {
    0% {
        bottom: 30px;
        opacity: 1
    }

    100% {
        bottom: 0;
        opacity: 0
    }
}

@keyframes fb_mpn_bounce_out {
    0% {
        opacity: 1;
        top: 0
    }

    100% {
        opacity: .5;
        top: 100%
    }
}

@keyframes fb_bounce_in_v2 {
    0% {
        opacity: 0;
        transform: scale(0, 0);
        transform-origin: bottom right
    }

    50% {
        transform: scale(1.03, 1.03);
        transform-origin: bottom right
    }

    100% {
        opacity: 1;
        transform: scale(1, 1);
        transform-origin: bottom right
    }
}

@keyframes fb_bounce_in_from_left {
    0% {
        opacity: 0;
        transform: scale(0, 0);
        transform-origin: bottom left
    }

    50% {
        transform: scale(1.03, 1.03);
        transform-origin: bottom left
    }

    100% {
        opacity: 1;
        transform: scale(1, 1);
        transform-origin: bottom left
    }
}

@keyframes fb_bounce_out_v2 {
    0% {
        opacity: 1;
        transform: scale(1, 1);
        transform-origin: bottom right
    }

    100% {
        opacity: 0;
        transform: scale(0, 0);
        transform-origin: bottom right
    }
}

@keyframes fb_bounce_out_from_left {
    0% {
        opacity: 1;
        transform: scale(1, 1);
        transform-origin: bottom left
    }

    100% {
        opacity: 0;
        transform: scale(0, 0);
        transform-origin: bottom left
    }
}

@keyframes slideInFromBottom {
    0% {
        opacity: .1;
        transform: translateY(100%)
    }

    100% {
        opacity: 1;
        transform: translateY(0)
    }
}

@keyframes slideInFromBottomDelay {
    0% {
        opacity: 0;
        transform: translateY(100%)
    }

    97% {
        opacity: 0;
        transform: translateY(100%)
    }

    100% {
        opacity: 1;
        transform: translateY(0)
    }
}

@import url(https://an2-ast.amz.wtchn.net/fonts/pretendard/pretendard-subset.css);

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

main {
    display: block
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

a {
    background-color: transparent
}

code {
    font-family: monospace, monospace;
    font-size: 1em
}

img {
    border-style: none
}

button,
input {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button,
input {
    overflow: visible
}

button {
    text-transform: none
}

[type=button],
button {
    -webkit-appearance: button
}

[type=button]::-moz-focus-inner,
button::-moz-focus-inner {
    border-style: none;
    padding: 0
}

[type=button]:-moz-focusring,
button:-moz-focusring {
    outline: 1px dotted ButtonText
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

@font-face {
    font-display: block;
    font-family: Watcha Glyphicons;
    font-style: normal;
    font-weight: 400;
    src: url(https://d143hdk68p1xtj.cloudfront.net/fonts/watcha-glyphicons.woff) format("woff"), url(https://d143hdk68p1xtj.cloudfront.net/fonts/watcha-glyphicons.ttf) format("ttf")
}

*,
:after,
:before {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased
}

:root {
    --color-black: #000;
    --color-white: #fff;
    --color-dim: rgba(0, 0, 0, .8);
    --color-player-dim: rgba(0, 0, 0, .6);
    --color-black-opacity10: rgba(0, 0, 0, .1);
    --color-black-opacity15: rgba(0, 0, 0, .15);
    --color-black-opacity20: rgba(0, 0, 0, .2);
    --color-black-opacity30: rgba(0, 0, 0, .3);
    --color-black-opacity40: rgba(0, 0, 0, .4);
    --color-black-opacity50: rgba(0, 0, 0, .5);
    --color-black-opacity60: rgba(0, 0, 0, .6);
    --color-black-opacity70: rgba(0, 0, 0, .7);
    --color-black-opacity80: rgba(0, 0, 0, .8);
    --color-black-opacity90: rgba(0, 0, 0, .9);
    --color-white-opacity10: hsla(0, 0%, 100%, .1);
    --color-white-opacity15: hsla(0, 0%, 100%, .15);
    --color-white-opacity20: hsla(0, 0%, 100%, .2);
    --color-white-opacity30: hsla(0, 0%, 100%, .3);
    --color-white-opacity40: hsla(0, 0%, 100%, .4);
    --color-white-opacity50: hsla(0, 0%, 100%, .5);
    --color-white-opacity60: hsla(0, 0%, 100%, .6);
    --color-white-opacity70: hsla(0, 0%, 100%, .7);
    --color-white-opacity80: hsla(0, 0%, 100%, .8);
    --color-white-opacity90: hsla(0, 0%, 100%, .9);
    --color-disabled-component: hsla(0, 0%, 100%, .3);
    --font-weight-bold: 700;
    --font-weight-medium: 500;
    --font-weight-regular: 400;
    --z-index-gnb: 500;
    --z-index-side-nav: 501;
    --z-index-banner: 502;
    --scroll-bar-width: 15px
}

html {
    font-family: Pretendard, Apple SD Gothic Neo, Nanum Gothic, Malgun Gothic, sans-serif
}

body,
html {
    background: var(--color-background);
    color: var(--color-primary-text);
    height: 100%;
    margin: 0;
    padding: 0
}

[data-theme=dark],
body {
    --color-background10: #030708;
    --color-background20: #141517;
    --color-background30: #191a1c;
    --color-background40: #1f2023;
    --color-background50: #222326;
    --color-background60: #28292a;
    --color-background70: #2e2f31;
    --color-background80: #303133;
    --color-background90: #333436;
    --color-background100: #505155;
    --color-blue10: #3da7ff;
    --color-blue20: #1a6ce7;
    --color-gray10: #1b1c1d;
    --color-gray20: #38393d;
    --color-gray30: #48484b;
    --color-gray40: #4f5152;
    --color-gray50: #6d6d6d;
    --color-gray60: #84868d;
    --color-gray70: #999ca1;
    --color-gray80: #bdbdbd;
    --color-gray90: #babac1;
    --color-gray100: #d4d7db;
    --color-green10: #0aca9e;
    --color-opacity10: hsla(0, 0%, 100%, .1);
    --color-opacity15: hsla(0, 0%, 100%, .15);
    --color-opacity20: hsla(0, 0%, 100%, .2);
    --color-opacity30: hsla(0, 0%, 100%, .3);
    --color-opacity40: hsla(0, 0%, 100%, .4);
    --color-opacity50: hsla(0, 0%, 100%, .5);
    --color-opacity60: hsla(0, 0%, 100%, .6);
    --color-opacity70: hsla(0, 0%, 100%, .7);
    --color-opacity80: hsla(0, 0%, 100%, .8);
    --color-opacity90: hsla(0, 0%, 100%, .9);
    --color-pink10: #de2a60;
    --color-primary10: #f82f62;
    --color-primary20: #f82c60;
    --color-primary30: #f6285c;
    --color-primary40: #ff3d6e;
    --color-primary50: #f6407a;
    --color-primary60: #ffd6e3;
    --color-purple10: #40032e;
    --color-red10: #e73e3e;
    --color-yellow10: #fbc02d;
    --color-primary-text: var(--color-white);
    --color-secondary-text: var(--color-gray90);
    --color-tertiary-text: var(--color-gray60);
    --color-disabled-text: var(--color-gray40);
    --color-background: var(--color-black);
    --color-background-elevated: var(--color-background30);
    --color-background-elevated-alt: var(--color-background60);
    --color-divider: var(--color-gray10);
    --color-divider-alt: var(--color-gray20)
}

h1,
h2 {
    font-weight: var(--font-weight-bold)
}

h1,
h2,
p {
    margin: 0;
    padding: 0
}

a {
    outline: var(--color-background);
    text-decoration: none
}

a,
a:hover {
    color: var(--color-primary-text)
}


ul {
    list-style-type: none;
    margin: 0;
    margin-block: 0;
    margin-inline: 0;
    padding: 0;
    padding-inline-start: 0
}

button,
input[type=button] {
    -webkit-appearance: initial;
    -moz-appearance: initial;
    appearance: none;
    background: none;
    border: 0;
    cursor: pointer;
    outline: none;
    padding: 0
}

button:focus,
input[type=button]:focus {
    outline: none
}

button:focus-visible,
input[type=button]:focus-visible {
    outline: var(--color-primary-text) auto 1px
}

@keyframes skeleton {
    0% {
        background-color: var(--color-gray10)
    }

    25% {
        background-color: var(--color-gray50)
    }

    50% {
        background-color: var(--color-gray10)
    }

    to {
        background-color: var(--color-gray10)
    }
}

@keyframes white-skeleton {
    0% {
        background-color: var(--color-gray100)
    }

    50% {
        background-color: var(--color-gray80)
    }

    to {
        background-color: var(--color-gray100)
    }
}

:root {
    --top-bar-height: 56px;
    --top-app-download-banner-height: 52px;
    --page-side-margin: 40px;
    --small-page-side-margin: 20px;
    --banner-bar-height: 60px;
    --side-navigation-bar-width: 240px;
    --chat-width: 338px;
    --cell-image-ratio-banner: 0.5625;
    --cell-image-ratio-extra-large: 1.7267;
    --cell-image-ratio-jumbotron-small: 1.194;
    --cell-image-ratio-landscape: 0.5633;
    --cell-image-ratio-portrait: 1.473;
    --cell-image-ratio-square: 1;
    --cell-image-ratio-tag: 0.5627;
    --z-index-player-video: 999;
    --z-index-player-video-overlay: 1001;
    --z-index-player-controls: 1003;
    --z-index-player-controls-overlay: 1005;
    --z-index-player-controls-popup: 1007
}

#root {
    height: 100%;
    width: 100%
}

.BsMmH {
    font-size: 28px;
    font-weight: var(--font-weight-bold);
    letter-spacing: 0;
    line-height: 34px
}

.PO6sA {
    font-size: 20px;
    font-weight: var(--font-weight-bold);
    line-height: 26px
}


.PO6sA {
    letter-spacing: 0
}

.Zcvzh {
    font-weight: var(--font-weight-regular);
    letter-spacing: 0
}

.Zcvzh {
    font-size: 14px;
    line-height: 20px
}

.Zcvzh.bBcRu {
    font-weight: var(--font-weight-medium)
}

.G41oJ {
    font-size: 13px;
    font-weight: var(--font-weight-regular);
    letter-spacing: 0;
    line-height: 18px
}

.G41oJ.bBcRu {
    font-weight: var(--font-weight-medium)
}

.ma29X {
    font-size: 12px;
    font-weight: var(--font-weight-regular);
    letter-spacing: 0;
    line-height: 18px
}

.ma29X.bBcRu {
    font-weight: var(--font-weight-medium)
}

.maUkF {
    font-weight: var(--font-weight-bold);
    letter-spacing: -1%
}

.maUkF {
    font-size: 10px;
    line-height: 10px
}

@keyframes YT7FC {
    0% {
        opacity: 0;
        transform: translate3d(0, calc(var(--height)*-1), 0)
    }

    12% {
        opacity: 1;
        transform: translateZ(0)
    }

    88% {
        opacity: 1;
        transform: translateZ(0)
    }

    to {
        opacity: 0;
        transform: translate3d(0, calc(var(--height)*-1), 0)
    }
}

@keyframes alc2K {
    0% {
        opacity: 0;
        transform: translate3d(0, var(--height), 0)
    }

    12% {
        opacity: 1;
        transform: translateZ(0)
    }

    88% {
        opacity: 1;
        transform: translateZ(0)
    }

    to {
        opacity: 0;
        transform: translate3d(0, var(--height), 0)
    }
}

@keyframes FQkwh {
    0% {
        opacity: 0;
        transform: translate3d(0, calc(var(--height)*-1), 0)
    }

    20% {
        opacity: 1;
        transform: translateZ(0)
    }

    80% {
        opacity: 1;
        transform: translateZ(0)
    }

    to {
        opacity: 0;
        transform: translate3d(0, calc(var(--height)*-1), 0)
    }
}

@keyframes xRGPC {
    0% {
        opacity: 0;
        transform: translate3d(0, var(--height), 0)
    }

    20% {
        opacity: 1;
        transform: translateZ(0)
    }

    80% {
        opacity: 1;
        transform: translateZ(0)
    }

    to {
        opacity: 0;
        transform: translate3d(0, var(--height), 0)
    }
}

.PMH0f {
    align-items: center;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    overflow: hidden
}

.PMH0f:disabled {
    cursor: not-allowed
}

.QRZbL {
    height: 32px;
    padding: 0 12px
}

._JKgP {
    background-color: var(--color-primary10)
}

._JKgP,
._JKgP:hover {
    color: var(--color-white)
}

._JKgP:hover {
    background-color: var(--color-primary40)
}

._JKgP:active {
    background-color: var(--color-primary30);
    color: var(--color-white)
}

._JKgP:disabled {
    background-color: var(--color-background100);
    color: var(--color-gray70)
}

.g1Qv3 {
    background-color: transparent;
    color: var(--color-primary-text)
}

.g1Qv3:disabled {
    color: var(--color-gray70)
}

.g1Qv3:hover {
    background-color: var(--color-opacity10)
}

.g1Qv3:active,
.g1Qv3:hover {
    color: var(--color-primary-text)
}

.g1Qv3:active {
    background-color: var(--color-opacity15)
}

.ZTeRZ {
    margin: 2px 0
}

@keyframes HUqdE {
    to {
        transform: rotate(1turn)
    }
}

@keyframes wgqgF {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0
    }

    50% {
        stroke-dasharray: 90, 200;
        stroke-dashoffset: -35px
    }

    to {
        stroke-dashoffset: -125px
    }
}

.PMH0f {
    background-color: #4A90E2;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}

.PMH0f:hover {
    background-color: #357ABD;
}

.IwuZi {
    border: none;
    height: 1px;
    margin: 0;
    padding: 0;
    width: 100%
}

.hwWb_ {
    background-color: var(--color-divider)
}

.VIHwL {
    border-radius: 1px;
    font-weight: 700;
    overflow: hidden;
    padding: 3px 4px 4px;
    position: relative;
    z-index: 0
}

.VIHwL:after {
    background-color: var(--bg);
    content: "";
    display: block;
    inset: 0;
    opacity: var(--opacity);
    position: absolute;
    width: 100%;
    z-index: -1
}

.h5lX4 {
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap
}

.h5lX4>span {
    margin: 1px
}

.QAPl8 {
    align-items: center;
    background: linear-gradient(transparent, #000);
    bottom: 0;
    display: flex;
    height: 100%;
    justify-content: center;
    position: absolute;
    width: 100%
}

.dItcc {
    color: var(--color-primary-text);
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2
}

@keyframes qGPOA {
    0% {
        background-position: 0 50%
    }

    50% {
        background-position: 100% 50%
    }

    to {
        background-position: 0 50%
    }
}

.Mh0Kf {
    border-radius: 4px;
    overflow: hidden;
    position: relative
}

.bZ5l7 {
    align-items: center;
    aspect-ratio: 16/9;
    display: flex;
    justify-content: center;
    position: relative
}

.qTeFN {
    height: 100%;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 100%
}

.XTr2h {
    border-radius: 8px;
    overflow: hidden;
    position: relative
}

.mJx88 {
    font-size: 14px;
    font-weight: var(--font-weight-bold);
    letter-spacing: -1%;
    line-height: 17px;
    margin-bottom: 10px
}

.yjZT7 {
    aspect-ratio: 16/9;
    margin: 0;
    position: relative;
    width: 100%
}

.XZwaD {
    height: 100%;
    inset: 0;
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
    width: 100%;
    z-index: 0
}

.YzmsO {
    display: block
}

.VSuzp {
    display: none
}

.b2kRe {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    z-index: -1
}

.BRIwT {
    bottom: 0;
    left: 0;
    padding: 0 40px 40px;
    right: 0;
    z-index: 0
}

.BRIwT,
.BRIwT:before {
    position: absolute;
    width: 100%
}

.BRIwT:before {
    background: linear-gradient(180deg, transparent, rgba(0, 0, 0, .6) 95.22%);
    content: "";
    display: block;
    inset: 0;
    z-index: -1
}

.lxcuu {
    font-size: 18px;
    font-weight: var(--font-weight-regular);
    font-weight: var(--font-weight-medium);
    line-height: 24px;
    margin-top: 12px;
    white-space: pre-wrap
}


.lxcuu {
    color: var(--color-primary-text);
    letter-spacing: 0
}

.mnpe2 {
    max-height: 120px;
    max-width: 354px;
    -o-object-fit: contain;
    object-fit: contain
}

@media screen and (max-width:60em) {
    .XTr2h {
        border-radius: 4px
    }

    .mJx88 {
        font-size: 10px;
        font-weight: var(--font-weight-bold);
        justify-content: center;
        letter-spacing: -1%;
        line-height: 10px
    }

    .yjZT7 {
        padding-bottom: calc(100%*var(--cell-image-ratio-jumbotron-small))
    }

    .YzmsO {
        display: none
    }

    .VSuzp {
        display: block
    }

    .BRIwT {
        padding: 0 20px 30px;
        text-align: center
    }

    .lxcuu {
        font-size: 14px;
        font-weight: var(--font-weight-regular);
        font-weight: var(--font-weight-medium);
        line-height: 20px
    }


    .lxcuu {
        letter-spacing: 0
    }

    .mnpe2 {
        max-height: 64px;
        max-width: 295px
    }
}

.dI5ap {
    border-radius: 4px;
    overflow: hidden;
    position: relative
}

.BwTPy {
    height: 100%;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2
}

.QYGnG {
    position: relative
}

.QYGnG:hover .bGMla:after {
    background-color: var(--color-black-opacity30);
    content: "";
    inset: 0;
    position: absolute;
    z-index: 2
}

.dyfg8 .bGMla {
    padding-left: 50px
}

.dyfg8 .dI5ap {
    aspect-ratio: 16/9
}

@keyframes dsQA0 {
    0% {
        background-color: var(--color-opacity10)
    }

    25% {
        background-color: var(--color-opacity50)
    }

    50% {
        background-color: var(--color-opacity10)
    }

    to {
        background-color: var(--color-opacity10)
    }
}

@keyframes Qab8Q {
    0% {
        opacity: 0;
        transform: scale(.7)
    }

    to {
        opacity: 1;
        transform: scale(1)
    }
}

.Q9Uoh {
    align-items: flex-end;
    display: flex;
    font-size: medium;
    justify-content: space-between;
    margin-bottom: 5px;
    position: relative
}

.Gu4lS {
    align-items: center;
    display: flex;
    min-width: 0
}

.Qzx40 {
    color: var(--color-primary-text)
}

.ow_X7 {
    margin: 3px 0 0 8px
}


.ow_X7 {
    display: inline-block;
    vertical-align: top
}

.fnyTL {
    flex-shrink: 0;
    margin-left: 6px
}

.deAmx {
    margin-top: 54px
}

.bdUVo {
    color: var(--color-primary-text);
    margin: 0 0 13px
}

@keyframes cbE5o {

    0%,
    60%,
    to {
        transform: none
    }

    10% {
        transform: translateY(58%)
    }

    20% {
        transform: translateY(-110%)
    }

    40% {
        transform: translateY(-110%)
    }
}

@keyframes O3QpX {

    0%,
    60%,
    to {
        transform: none
    }

    20% {
        transform: translateY(-110%)
    }

    30% {
        transform: translateY(5%)
    }

    31% {
        transform: translateY(0)
    }
}

.nxpXD {
    background-color: var(--color-background20);
    border-right: 1px solid var(--color-divider);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: var(--side-navigation-bar-width);
    z-index: var(--z-index-side-nav)
}

@media screen and (max-width:48em) {
    .nxpXD {
        display: none
    }
}

.bXT_X {
    list-style: none;
    margin: 0;
    padding: 0
}

.bXT_X,
.bzg0x {
    align-self: stretch
}

.bzg0x {
    align-items: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    border: 0;
    border-radius: 8px;
    color: var(--color-gray100);
    display: flex;
    flex-direction: row;
    outline: none;
    padding: 8px 12px;
    text-decoration: none;
    width: 100%
}

.bzg0x>:not(:last-child) {
    margin-right: 10px
}

.z9hr7 {
    align-items: center;
    align-self: stretch;
    display: flex;
    margin: 0 10px 0 0;
    position: relative
}

.EdiMU {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0
}

.EdiMU:before {
    color: var(--color-tertiary-text);
    content: attr(aria-label);
    font-size: 12px;
    font-weight: var(--font-weight-regular);
    letter-spacing: 0;
    line-height: 18px;
    padding: 0 12px 2px
}

.Jg8iW {
    align-items: center;
    background-color: var(--color-background20);
    display: flex;
    height: 56px;
    justify-content: space-between;
    padding: 12px 40px;
    position: relative;
    transition: background-color .3s;
    width: 100%
}

@media screen and (max-width:48em) {
    .Jg8iW {
        padding: 12px 20px
    }
}

.H1DZP {
    max-width: 100%
}

.H1DZP,
.gwA_f {
    display: flex
}

@keyframes BiPQm {
    0% {
        height: 3px
    }

    30% {
        height: 9px
    }

    60% {
        height: 13px
    }

    80% {
        height: 9px
    }

    to {
        height: 3px
    }
}

@keyframes bBgQD {

    10%,
    90% {
        left: -5px
    }

    20%,
    80% {
        left: 5px
    }

    30%,
    50%,
    70% {
        left: -5px
    }

    40%,
    60% {
        left: 5px
    }
}

.AMqgB {
    overflow: hidden;
    padding-bottom: 32px;
    padding-left: var(--page-side-margin);
    padding-right: var(--page-side-margin)
}

@media (max-width:717px) {
    .AMqgB {
        padding-left: var(--small-page-side-margin);
        padding-right: var(--small-page-side-margin)
    }
}

@media (min-width:1920px) {
    .AMqgB {
        max-width: 1680px
    }
}

.RgalG {
    margin: 0 auto
}

.cV9TL {
    margin: 0 calc(var(--gutter-large)*-1/2);
    position: relative;
    white-space: nowrap;
    z-index: 0
}

@media screen and (max-width:47.9375em) {
    .cV9TL {
        margin: 0 calc(var(--gutter-small)*-1/2)
    }
}

.cV9TL:hover {
    z-index: 1
}

.ihJ17 {
    cursor: pointer;
    display: inline-block;
    padding: 0 calc(var(--gutter-large)/2);
    position: relative;
    transition: transform .4s cubic-bezier(.5, 0, .1, 1) 0s;
    vertical-align: top
}

@media screen and (max-width:47.9375em) {
    .ihJ17 {
        padding: 0 calc(var(--gutter-small)/2)
    }
}

.ihJ17.pj7vz.Vdz2S {
    width: 100%
}

.ihJ17.pj7vz.ql9J2 {
    width: 50%
}

@media screen and (min-width:37.5em) {
    .ihJ17.pj7vz.ql9J2 {
        width: 33.3333333333%
    }
}

.ihJ17.pj7vz.GUeNJ {
    width: 50%
}

.RCoLY {
    margin-bottom: 32px
}

.BFdDK {
    display: inline-block;
    position: relative;
    white-space: nowrap
}

.ZlXy0 {
    background-color: var(--color-background);
    border-color: var(--color-background70);
    border-radius: 24px;
    border-style: solid;
    border-width: 2px;
    color: var(--color-tertiary-text);
    padding: 8px 16px
}

.ZlXy0:focus,
.ZlXy0:hover {
    border-color: var(--color-tertiary-text);
    color: var(--color-tertiary-text)
}

.PEuT_ {
    background-color: var(--color-primary-text)
}

.PEuT_,
.PEuT_:focus,
.PEuT_:hover {
    border-color: var(--color-primary-text);
    color: var(--color-background)
}

.hSUzc {
    display: flex;
    justify-content: flex-start;
    padding-left: 40px;
    padding-right: 40px
}

.iWqj_ {
    padding-bottom: 10px;
    padding-top: 10px
}

.iWqj_ li {
    margin: 0 8px 0 0
}

@keyframes Axy6Y {
    0% {
        bottom: -10px
    }

    to {
        bottom: 0;
        opacity: 1
    }
}

@keyframes lw2LF {
    0% {
        opacity: 0;
        transform: translate3d(0, 10px, 0)
    }

    to {
        opacity: 1;
        transform: translateZ(0)
    }
}

@keyframes JnttR {
    50% {
        transform: scale(1.2)
    }

    75% {
        transform: scale(.9)
    }
}

@keyframes rrCsX {
    0% {
        background-position: 0 50%
    }

    50% {
        background-position: 100% 50%
    }

    to {
        background-position: 0 50%
    }
}

@keyframes rseE7 {
    0% {
        transform: scale(.83)
    }

    to {
        transform: scale(1)
    }
}

@keyframes UBJl8 {
    0% {
        transform: scale(1)
    }

    to {
        transform: scale(.83)
    }
}

@keyframes gvIjY {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes hhbyn {
    0% {
        opacity: 1
    }

    to {
        opacity: 0
    }
}

@keyframes NQvAf {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes d6Oii {
    0% {
        transform: scale(.8)
    }

    to {
        transform: scale(1)
    }
}

@keyframes RHBuz {
    0% {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

@keyframes _0eBoC {
    0% {
        transform: scale(1)
    }

    to {
        transform: scale(0)
    }
}

@keyframes lZyVp {
    0% {
        transform: translate(0)
    }

    to {
        transform: translate(1.875vw)
    }
}

@keyframes LVcm5 {

    0%,
    80%,
    to {
        transform: scaleY(1)
    }

    40% {
        transform: scaleY(2.14)
    }
}

@keyframes pK3Q5 {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes F5Qxg {
    0% {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(359deg)
    }
}

@keyframes C3Qax {
    0% {
        background-color: #2a2b2c
    }

    50% {
        background-color: #1e1f1f
    }

    to {
        background-color: #2a2b2c
    }
}

@keyframes c60v2 {
    0% {
        margin-left: 3.515vw
    }

    to {
        margin-left: 1.406vw
    }
}

@keyframes bnoLQ {
    0% {
        margin-left: -35.156vw
    }

    to {
        margin-left: -32.5vw
    }
}

.qbhl4 {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    color: var(--color-secondary-text);
    height: 100%;
    outline: none;
    padding: 0;
    width: 40px
}

.Zurqi {
    background: linear-gradient(90deg, var(--color-background) 70%, var(--color-black) 100%)
}

.Y8rwu {
    display: inline-block;
    height: 100%;
    position: relative;
    width: 100%
}

.sEUR3 {
    --button-visible: block;
    position: relative
}

.sEUR3:after,
.sEUR3:before {
    content: "";
    display: var(--button-visible);
    height: 150%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: var(--page-side-margin);
    z-index: 1
}

.sEUR3:before {
    background: linear-gradient(90deg, var(--color-background) 70%, var(--color-black) 100%);
    left: calc(var(--page-side-margin)*-1)
}

.sEUR3:after {
    background: linear-gradient(270deg, var(--color-background) 70%, var(--color-black) 100%);
    right: calc(var(--page-side-margin)*-1)
}

.g5Ga5 {
    bottom: 0;
    display: none;
    height: 105%;
    position: absolute;
    top: 0;
    width: var(--page-side-margin);
    z-index: 2
}

.pP3mC {
    left: calc(var(--page-side-margin)*-1)
}

.sEUR3:hover .g5Ga5 {
    display: block
}

.sEUR3:hover .g5Ga5:focus-visible {
    outline: thin solid var(--color-primary-text)
}

@media screen and (max-width:48em) {

    .sEUR3:after,
    .sEUR3:before {
        width: var(--small-page-side-margin)
    }

    .sEUR3:before {
        left: calc(var(--small-page-side-margin)*-1)
    }

    .sEUR3:after {
        right: calc(var(--small-page-side-margin)*-1)
    }

    .g5Ga5 {
        width: var(--small-page-side-margin)
    }

    .pP3mC {
        left: calc(var(--small-page-side-margin)*-1)
    }
}

.fkdOB {
    --x: 0
}

@media screen and (min-width:80em) {
    .B43dM {
        max-width: 1000px
    }
}

@media screen and (min-width:90em) {
    .B43dM {
        max-width: 1160px
    }
}

.HzbLq {
    display: block
}

.HVRsK {
    transform: translate3d(calc(5%*var(--x)*1), 0, 0)
}

@media screen and (max-width:37.5em) {
    .HVRsK {
        min-width: 204px
    }
}

@media screen and (min-width:48em) {
    .HVRsK {
        max-width: 338px
    }
}

.r4ijf {
    display: block;
    outline: none
}

.ZSuDA {
    transform: translate3d(calc(5%*var(--x)*1), 0, 0)
}

@media screen and (max-width:37.5em) {
    ._Hgsa {
        min-width: 174px
    }
}

@media screen and (min-width:48em) {
    ._Hgsa {
        max-width: 300px
    }
}

.bX6yI {
    display: block;
    outline: none
}

@keyframes rmVAL {
    0% {
        opacity: 0;
        top: 50px
    }

    to {
        opacity: 1;
        top: 0
    }
}

@keyframes roVrl {
    0% {
        animation-timing-function: cubic-bezier(.78, .34, .15, .25);
        transform: translateX(0)
    }

    0.5% {
        animation-timing-function: linear
    }

    to {
        transform: translateX(-50%)
    }
}

@keyframes yIpLf {
    0% {
        opacity: 1;
        transform: translate3d(-50%, -50%, 0) scale(1)
    }

    to {
        opacity: 0;
        transform: translate3d(-50%, -50%, 0) scale(1.12)
    }
}

@keyframes iTXrH {
    0% {
        opacity: 1;
        transform: translate3d(-50%, 0, 0) scale(1)
    }

    to {
        opacity: 0;
        transform: translate3d(-50%, 0, 0) scale(1.12)
    }
}

@keyframes aldUE {
    0% {
        opacity: 1;
        transform: scale(1)
    }

    to {
        opacity: 0;
        transform: scale(1.12)
    }
}

.wCsfm {
    margin: 32px 0
}

.mAY7K {
    margin: 40px 0
}

@keyframes DBxiw {
    0% {
        width: 0
    }

    to {
        width: 100%
    }
}

@keyframes aXx3E {
    to {
        opacity: 1;
        transform: translateY(0)
    }
}

@keyframes agOFX {
    50% {
        opacity: 0
    }
}

.PFDEp {
    margin: 24px 0 30px;
    overflow: auto hidden
}

.zwgRA {
    padding-left: 0
}

.zwgRA li {
    margin: 0 8px 8px 0
}

@media (max-width:414px) {
    html body .kSGtd>ul {
        flex-wrap: nowrap;
        overflow-x: scroll
    }
}

.QHWMU {
    display: block;
    margin: 24px 0 0 26px
}

.pCA8j {
    margin: 30px 0 0;
    padding: 0 16px
}

.Nw1zg {
    margin: 16px 0
}

.R7Zf9 {
    left: 0;
    padding-left: 240px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 500
}

@media screen and (max-width:48em) {
    .R7Zf9 {
        padding: 0
    }
}

.AMOzj {
    display: none
}

@media screen and (max-width:48em) {
    .AMOzj {
        display: block;
        margin-right: 20px
    }
}

.VPOv3 {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 8px
}

.KywLO {
    background-color: var(--color-background);
    flex: 1
}

.GQU3t {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 56px 0 0 240px
}

.kvrJG {
    padding: 0 0 0 240px
}

@media screen and (max-width:48em) {

    .GQU3t,
    .kvrJG {
        padding: calc(var(--top-bar-height) + var(--top-app-download-banner-height)) 0 0
    }
}